@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url(./color.css);
@import url(./header.css);

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary);
    color:var(--text);
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    user-select: none;
}